<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url(https://captureintegration.com/wp-content/uploads/2014/05/Matt_Armendariz_Meal_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
</head>
<body>

  </div>
</div>

<!-- End responsive panel example -->
